{% include custom/navigation.html %}
{% if site.description %}
<section class="aboutme">
  <p>
    {{ site.description }}
  </p>
</section>
{% endif %}

<!-- lunr.js -->
<!-- {% if site.simple_search %}
<form action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
{% endif %}

{% if site.lunr_search == true %}
  {% include custom/lunr-search/search-form.html %}
{% endif %}
 -->